<ion-view>
	<ion-nav-title>Comentários</ion-nav-title>

	<ion-content has-header="true">
		<div class="content-inner">
			<div ng-if="vm.trabalho.total_duvidas_aluno == 0 && vm.trabalho.total_respostas_professor == 0">
				<div class="alert alert-warning" role="alert">Envie o primeiro comentário e tire dúvidas sobre a sua redação diretamente com o professor.</div>
			</div>

			<div ng-if="vm.trabalho.total_duvidas_aluno == 1 && vm.trabalho.total_respostas_professor == 0">
				<div class="alert alert-danger" role="alert"> Para enviar a próxima dúvida, você precisa aguardar a resposta do professor </div>
			</div>

			<div ng-if="vm.trabalho.total_duvidas_aluno == 2 && vm.trabalho.total_respostas_professor == 1">
				<div class="alert alert-danger" role="alert">Já foram enviadas duas dúvidas para esta redação</div>
			</div>

			<div ng-if="vm.trabalho.total_respostas_professor == 2">
				<div class="alert alert-danger" role="alert">Não é mais possível enviar dúvidas para esta redação.</div>
			</div>

			<div ng-if="vm.trabalho.expirou_prazo_primeira_duvida || (vm.trabalho.total_comentarios > 0 && vm.trabalho.expirou_prazo_segunda_duvida)">
				<div class="alert alert-danger" role="alert">Não é possível enviar uma nova dúvida para esta redação pois o prazo de dois dias foi atingido.</div>
			</div>

			<div class="nano" style="height:580px">
				<div class="nano-content pad-all" style="right: -10px;">
					<ul class="list-unstyled media-block">
						<div ng-repeat="comentario in vm.comentarios">
							<div ng-switch on="comentario.tipo">
								<div ng-switch-when="1">
									<li class="mar-btm">
										<div class="media-left">
											<img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
										</div>
										<div class="media-body pad-hor">
											<div class="speech">
												<span class="media-heading">{{comentario.autor.nome}}</span>
												<p class="item-text-wrap" ng-bind-html="bindHTML(comentario.conteudo)"></p>
												<p class="speech-time">
													<i class="fa fa-clock-o fa-fw"></i> {{comentario.created_at}}
												</p>
											</div>
										</div>
									</li>
								</div>

								<div ng-switch-when="2">
									<li class="mar-btm">
										<div class="media-right">
											<img src="http://bootdey.com/img/Content/avatar/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
										</div>
										<div class="media-body pad-hor speech-right">
											<div class="speech">
												<span class="media-heading">Prof. {{comentario.autor.nome}}</span>
												<p class="item-text-wrap" ng-bind-html="bindHTML(comentario.conteudo)"></p>
												<p class="speech-time">
													<i class="fa fa-clock-o fa-fw"></i> {{comentario.created_at}}
												</p>
											</div>
										</div>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
    </div>
	</ion-content>

  <ion-footer-bar align-title="left" class="bar-light" keyboard-attach class="bar-light">
    <div class="bar bar-footer item-input-inset footer-item-input-insert">
      <label class="item-input-wrapper">
        <input type="search" placeholder="Escreva um comentário..." ng-model="vm.comentario.conteudo" maxlength="500">
      </label>

      <button class="button button-stable" ng-disabled="(vm.comentario.conteudo.length == 0 || vm.comentario.conteudo == null)
																												|| (vm.trabalho.total_duvidas_aluno == 1 && vm.trabalho.total_respostas_professor == 0)
																												|| (vm.trabalho.total_duvidas_aluno == 2 && vm.trabalho.total_respostas_professor == 1)
																												|| (vm.trabalho.total_respostas_professor == 2)
																												|| (vm.trabalho.expirou_prazo_primeira_duvida || (vm.trabalho.total_comentarios > 0 && vm.trabalho.expirou_prazo_segunda_duvida))" ng-click="vm.criarComentario();">
        Enviar
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
