<ion-view>
	<ion-nav-title>Módulo {{vm.modulo.categoria.nome}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-help-circled" ng-click="vm.exibirInformacoes()"></button>
  </ion-nav-buttons>

	<ion-content has-header="true">
		<div class="content-inner">
			<p ng-click="vm.exibirTema = !vm.exibirTema;">
				<strong>Tema:</strong> {{vm.modulo.tema.titulo}}
				<span class="glyphicon" style="margin-left: 6px;" ng-class="vm.exibirTema ? 'ion-chevron-down' : 'ion-chevron-up'">
			</p>

			<p ng-hide="vm.exibirTema" class="tema" ng-bind-html="bindHTML(vm.modulo.tema.descricao)"></p>

      <br />

      <ion-list>
        <div class="item item-divider">
          Detalhes
        </div>
        <ion-item>
          Envio até: {{vm.modulo.tema.expira_em}} (Faltam {{vm.modulo.tema.dias_restantes}} dias)
        </ion-item>
      </ion-list>
    </div>

		<div class="row colums-two">
			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.folhaModelo()">
					<h1><i class="ion-clipboard"></i></h1>
					<h2>Folha Modelo</h2>
				</a>
			</div>
			<div class="card col home">
				<a class="item item-text-wrap">
					<h1><i class="ion-social-youtube-outline"></i></h1>
					<h2>Aulas</h2>
				</a>
			</div>
		</div>

    <div class="row">
      <div class="col">
        <a class="button button-block" ng-click="vm.enviarRedacao()">
          <i class="icon ion-ios-paperplane"></i>
          Enviar Redação
        </a>
      </div>
    </div>
	</ion-content>
</ion-view>
