<ion-view>
	<ion-nav-title>Módulo {{vm.modulo.categoria.nome}}</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-help-circled" ng-click="vm.exibirInformacoes()"></button>
  </ion-nav-buttons>

	<ion-content has-header="true">
		<div class="content-inner">
			<p>
				<strong>Tema:</strong> {{vm.modulo.tema}}
				<span class="glyphicon" style="margin-left: 6px;" ng-class="vm.exibirTema ? 'ion-chevron-down' : 'ion-chevron-up'" ng-click="vm.exibirTema = !vm.exibirTema;">
			</p>

			<p ng-hide="vm.exibirTema" class="tema">
				<img src="http://redacaoperfeita.s3.amazonaws.com/temas/blob">
				<br /><br />
				Diante dos padrões de beleza impostos às pessoas nos últimos tempos, cada vez mais a busca pela estética desejada vem crescendo na sociedade atual. Dietas rigorosas, cirurgias plásticas, academia, anabolizantes, remédios, produtos inovadores, são exemplos de mecanismos que são utilizados para se chegar ao biotipo ideal. Baseando-se nessas informações, redija um texto dissertativo-argumentativo sobre o tema:
			</p>

      <br />

      <ion-list>
        <div class="item item-divider">
          Detalhes
        </div>
        <!-- <ion-item>
          Início em: 12/09/2016
        </ion-item>
        <ion-item>
          Encerramento em: 18/09/2016
        </ion-item> -->
        <ion-item>
          Envio até: 18/09/2016 (Faltam 5 dias)
        </ion-item>
      </ion-list>

      <!-- <div class="row colums-two">
        <div class="card col home">
          <a class="item item-text-wrap" ng-click="vm.showProducts(vm.categories[$index])">
            <h1><i class="ion-chatboxes"></i></h1>
            <h2>Redação Enviada</h2>
          </a>
        </div>
      </div> -->
    </div>

		<div class="row colums-two">
			<div class="card col home">
				<a class="item item-text-wrap">
					<h1><i class="ion-compose"></i></h1>
					<h2>Folha Modelo</h2>
				</a>
			</div>
			<div class="card col home">
				<a class="item item-text-wrap">
					<h1><i class="ion-social-youtube-outline"></i></h1>
					<h2>Aulas</h2>
				</a>
			</div>
		</div>

    <div class="row">
      <div class="col">
        <a class="button button-block" ng-click="vm.enviarRedacao()">
          <i class="icon ion-ios-paperplane"></i>
          Enviar Redação
        </a>
      </div>
    </div>
	</ion-content>

	<!-- <ion-tabs class="tabs-icon-top tabs-light">
	 <ion-tab title="Enviada" icon="ion-document" ui-sref="app.teste">
		 <ion-nav-view name="modulo-teste"></ion-nav-view>
	 </ion-tab>
	 <ion-tab title="Correção" icon="ion-clipboard" href="#/app/teste">
		 <ion-nav-view name="modulo-teste"></ion-nav-view>
	 </ion-tab>
 </ion-tabs> -->

	</ion-view>
