<ion-view view-title="Módulos">
	<ion-content>
		<div ng-repeat="modulo in vm.modulos">
			<div class="card">
				<div class="row">
  				<div class="col col-70" ng-click="vm.exibirDetalheModulo(modulo.id)">
						{{modulo.categoria.nome}}
					</div>
  				<div class="col">
						<span class="label label-danger">{{modulo.status}}</span>
					</div>
				</div>
				<div class="item item-text-wrap">
    			<p>Início em: 12/09/2016</p>
					<p>Encerramento em: 18/09/2016</p>
  			</div>

				<!-- <div class="item item-text-wrap">
					<h2>Módulo </h2>
					<p class="small_text"></p>
				</div>
			</div> -->
		</div>
	</ion-content>
</ion-view>
