<ion-view>
	<ion-nav-title>Módulo {{vm.redacao.modulo.categoria.nome}}</ion-nav-title>

	<ion-content has-header="true">
		<div class="content-inner">
			<p ng-click="vm.exibirTema = !vm.exibirTema;">
				<strong>Tema:</strong> {{vm.redacao.tema.titulo}}
				<span class="glyphicon" style="margin-left: 6px;" ng-class="vm.exibirTema ? 'ion-chevron-down' : 'ion-chevron-up'">
			</p>

			<p ng-hide="vm.exibirTema" class="tema" ng-bind-html="bindHTML(vm.redacao.tema.descricao)"></p>

      <br />

      <ion-list>
        <div class="item item-divider">
          Detalhes
        </div>
				<ion-item ng-if="vm.redacao.enviada">
          Redação enviada em: {{vm.redacao.entregue_em}}
        </ion-item>
				<ion-item ng-if="vm.redacao.corrigida">
          Redação corrigida em: {{vm.redacao.corrigido_em}}
        </ion-item>
      </ion-list>
    </div>

		<div class="row colums-two">
			<div class="card col home" ng-if="vm.redacao.enviada">
				<a class="item item-text-wrap" ng-click="vm.exibirRedacaoEnviada()">
					<h1><i class="ion-document-text" style="color:#EE7600;"></i></h1>
					<h2>Redação</h2>
				</a>
			</div>
			<div class="card col home" ng-if="vm.redacao.corrigida">
				<a class="item item-text-wrap" ng-click="vm.exibirRedacaoCorrigida()">
					<h1><i class="ion-edit" style="color:#EE7600;"></i></h1>
					<h2>Correção</h2>
				</a>
			</div>
		</div>

		<div class="row colums-two">
			<div class="card col home" ng-if="vm.redacao.corrigida">
				<a class="item item-text-wrap" ng-click="vm.exibirComentarios(vm.redacao.id)">
					<h1><i class="ion-chatboxes" style="color:#EE7600;"></i></h1>
					<h2>Tira-Dúvidas</h2>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
