<ion-view view-title="Aulas">
	<ion-content>
		<ion-list>
  		<ion-item ng-repeat="aula in vm.aulas" ng-click="vm.assitir(aula.id)" ng-class="aula.situacao == 2 ? 'aula_disponivel' : ''">
        <span ng-if="aula.situacao == 1">
          <i class="icon ion-locked"></i>
        </span>

        <span ng-if="aula.situacao == 2">
          <i class="icon ion-play"></i>
        </span>

        <span ng-if="aula.situacao == 3">
          <i class="icon ion-checkmark-round"></i>
        </span>

    		&nbsp; {{aula.nome}}
  		</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
